@model List<DayLifeSure.Models.DataModel.TblServices>
@{
    ViewBag.Title = "Service";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="card mb-4">
            <div class="card-header pb-0">
                <h6>Servis Tablosu</h6>
            </div>
            <div class="card-body px-0 pt-0 pb-2">
                <div class="table-responsive p-0">
                    <table class="table align-items-center mb-0">
                        <thead>
                            <tr>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"> Image</th>

                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"> Title</th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Description</th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Icon</th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Url</th>

                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Delete</th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Update</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>

                                    <td>
                                        <div class="d-flex px-2 py-1">
                                            <div>
                                                <img src="@item.ImageUrl" class="avatar avatar-sm me-3" alt="user1">
                                            </div>
                                        </div>
                                    </td>

                                    <td>
                                        <div class="d-flex px-2 py-1">

                                            <div class="d-flex flex-column justify-content-center">
                                                <h6 class="mb-0 text-sm">@item.ServiceTitle</h6>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <p class="text-xs font-weight-bold mb-0">@item.ServiceDesc</p>

                                    </td>
                                    <td class="align-middle text-center text-sm">
                                        <span class="badge badge-sm bg-gradient-success">@item.Icon</span>
                                    </td>

                                    <td class="align-middle text-center text-sm">
                                        <span class="badge badge-sm bg-gradient-success">@item.ImageUrl</span>
                                    </td>
                                    <td class="align-middle text-center">
                                        <a href="/AdminLayout/DeleteService/@item.ServiceId" class="btn btn-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                                            Delete
                                        </a>
                                    </td>
                                    <td class="align-middle text-center">
                                        <a href="/AdminLayout/UpdateService/@item.ServiceId" class="btn btn-primary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                                            Edit
                                        </a>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>

                </div>
                <a href="/AdminLayout/AddService/" class="align-middle btn btn-primary"> Yeni Servis</a>
            </div>
        </div>
    </div>
</div>