@using Resources

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/DefaultLayout.cshtml";
}
<!-- Carousel Start -->
<div class="header-carousel owl-carousel">
    <div class="header-carousel-item bg-primary">
        <div class="carousel-caption">
            <div class="container">
                <div class="row g-4 align-items-center">
                    <div class="col-lg-7 animated fadeInLeft">
                        <div class="text-sm-center text-md-start">
                            <h4 class="text-white text-uppercase fw-bold mb-4">@Lang.Welcome</h4>
                            <h1 class="display-1 text-white mb-4">@Resources.Lang.Happy</h1>
                            <p class="mb-5 fs-5">
                        @Lang.Happy_Desc
                            </p>
                            <div class="d-flex justify-content-center justify-content-md-start flex-shrink-0 mb-4">
                                <a class="btn btn-light rounded-pill py-3 px-4 px-md-5 me-2" href="#"><i class="fas fa-play-circle me-2"></i> @Lang.Watch</a>
                                <a class="btn btn-dark rounded-pill py-3 px-4 px-md-5 ms-2" href="#">@Lang.More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 animated fadeInRight">
                        <div class="calrousel-img" style="object-fit: cover;">
                            <img src="img/carousel-2.png" class="img-fluid w-100" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- Carousel End -->
<!-- Feature Start -->
@Html.Action("FeatureList", "Feature")
<!-- Feature End -->
<!-- About Start -->
@Html.Action("AboutList", "About")
<!-- About End -->
<!-- Service Start -->
@Html.Action("ServiceList", "Service")


<!-- Service End -->
<!-- FAQs Start -->
@Html.Action("FAQList", "Faq")

<!-- FAQs End -->
<!-- Team Start -->
@Html.Action("EmployeeList", "Employe")


<!-- Team End -->
<!-- Testimonial Start -->
@Html.Action("TestimonialList", "Testimonial")


<!-- Testimonial End -->
<!-- Footer Start -->
@Html.Action("ContactList", "Contact")



<!-- Footer End -->
